$default-font-family: sans-serif;
$default-color: #444;

body {
  font-family: $default-font-family;
  color: $default-color;
  text-size-adjust: 100%;

  background: #fff url(js.svg) center center no-repeat;
  min-height: 500px;
}
